section{
    font-family: 'Abril Fatface', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
}
.color-mission{
    color: rgb(99, 221, 221);
}
.border{
    font-size: 20px;
    border-left: solid;
    border-image: linear-gradient(aqua, blue);
    border-image-slice: 5;
    padding-left: 1%;
}
.half-width{
    width: 40%;
}
.half-width img{
    width:60% ;
}
section{
    display: flex;
}