.tytle-font{
    font-size: 50px;
}
section{
    font-family: 'Abril Fatface', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
}
.color-mission{
    color: aqua;
}
.border{
    border: none;
    font-size: 20px;
    border-left: solid;
    border-image: linear-gradient(aqua, blue);
    border-image-slice: 5;
    padding-left: 2%;

}
.half-width{
    width: 40%;
    padding-left: 100px;
}
.half-width img{
    width:60% ;
    padding-left: 50px;
}
section{
    display: flex;
}
.link-batton{
    width: 200px;
    color: white;
    background-image: linear-gradient( rgb(116, 63, 165), blue);
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 5px;
}
.last-batton{
    width: 100px;
    color: white;
    background-image: linear-gradient( rgb(116, 63, 165), blue);
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 5px;
}
.mission{
    color: rgb(103, 74, 128);
    text-align: center;
    margin-left: 33%;
}
.color-stay{
    color: orange;
}
.mision-hader{
    background-color: honeydew;
    border-radius: 20px;
    margin-left: 8%;
    margin-right:10px;
}
.vission{
    background-color: rgb(178, 247, 178);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 8px;
}
.goals{
    background-color: rgb(114, 210, 248);
    border-radius: 20px;
    margin-right: 8%;
    margin-left: 10px;
}
.margins{
    margin-left: 5%;
}
.one-third img{
width: 33.33%;
}
.text-wdith{
    width: 65%;
}
.code-width img{
    width: 33%;
    margin-left: 10%;
    margin-top: 5%;
}
.global-com{
    width: 65%;
    margin-left: 100px;
    margin-top: 5%;
}
.global-com img{
    width: 60%;
    padding-left: 25%;
}
.add{
    width: 50%;
}
.add img{
    width: 70%;
    padding-left: 5%;
    margin-top: 20%;
}
.half-width-text{
    width: 50%;
    padding-right: 20%;
}
.secand-bannar{
    background-size: 15%;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-bannan{
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right bottom;
}
.possition-center{
    text-align: center;
}
footer{
    height: 150px ;
    color: white;
    background-color: black;
    text-align: center;
}
.red{
    color: red;
}